/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  html {
      box-sizing: border-box;
  }
  *,*::before, ::after{
      box-sizing: inherit;
  }
  body {
      font-family: Lato;
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: normal;
      color: #000000;
  }
  img {
      max-width: 100%;
      height: auto;
  }

  .wrapper {
      max-width: 1060px;      
      margin: 0 auto;
  }

  .wrapper__full {
      max-width: 1262px;
      margin: 0 auto;      
  }

  .section__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
  }

  .section__title::after {
      display: block;
      content: ' ';
      width: 253px;
      height: 3px;
      background-color: #006DFE;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  /* Header start*/
  .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: .2s linear;
      padding-bottom: 20px;
      z-index: 99;
  }

  .header_active {
    background: #0E1D28;
  }

  .header__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 56px;
  }

  .header__list {
      display: flex;
      flex-wrap: wrap;
  }

  .header__item {
      margin-right: 82px;
  }

  .header__item:last-child {
      margin-right: 0;
  }

  .header__link {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
  }

  .header__link:hover, .header__link:focus,.header__link:active{
      opacity: .75;
  } 

  /*header end*/

  /*Intro start*/
  .intro {
      min-height: 100vh;
      background: url(../img/intro_bg.jpg) no-repeat center;
      background-size: cover;
      padding-top: 263px;
      padding-bottom: 223px;
  }

  .intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
  }

  .intro__subtitle {
      max-width: 546px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 59px;      
  }
  .search__form__info {
      display: flex;
      flex-wrap: wrap;

  }

  .search__form__field {
      width: 297px;
      background: transparent url(../img/svg/Oval.svg) no-repeat left 6px;
      background-size: 20px;
      border: 0;
      border-bottom: 2px solid #BFC0C5;
      margin-right: 60px;
      padding-left: 43px;
      padding-bottom: 22px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
  }

  .search__form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .search__form__sumbit {
      padding: 15px 39px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 24px;
      color: #FFFFFF;
      background: #1B7DFF;
      border: 0;
  }

  .search__form__sumbit:hover, .search__form__sumbit:focus, .search__form__sumbit:active{
      background: #094a9e
  }

  /* Intro end*/
  /* Benefits start*/
  .benefits {
      margin-bottom: 131px;
  }

  .benefits__wrap {
      max-width: 1262px;
      background-color: white;
      margin: 0 auto;
      box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
      position: relative;
  }

  .benefits__title {
      width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px; 
    color: #102746;
    padding: 93px 100px 88px 100px ;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
  }

  .benefits__cards {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 55px;
     padding: 0 100px;
  }

  .benefits__card {
      grid-column: span 1;
      margin-bottom: 112px;
  }
  .benefits__cards-pic {
      max-width: 66px;
      margin-bottom: 37px;      
  }
  .benefits__card__trumb {
      display: block;      

  }
  .benefits__card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 26px;    
  }

  .benefits__card__deck {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
  }

  .benefits__card-more {
      display: inline-block;
      padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/Shape.svg) no-repeat 95% center;
    transition: .2s all;
  }

  .benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/svg/Shape.svg) no-repeat right center;
  }
/* Benefits end*/
/* Places start*/
.places {
    margin-bottom: 131px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.places__view__all{
    padding-right: 59px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/Shape.svg) no-repeat right center;
}
.places__view__all:hover, .places__view__all:focus {
    opacity: .65;    
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card::after{
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card__pic{
    transform: scale(1.05);
}

.places__card__title {
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;    
    z-index: 3;
}

.places__card_size_lg {
    grid-column: span 3;
}

.places__card_size_sm {
    grid-column: span 2;
}

.places__card__pic{
    width: 100%;
    transform: .15s all;
}

.places__card__pic_size_lg {
    height: 354px;
    object-fit: cover;
}

.places__card__pic_size_sm {
    height: 283px;
    object-fit: cover;
}

.places_card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/* Places end*/
/*Touts start*/
.tours{
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__info {
    padding-left: 47px;    
}

.tour__pic {
    background-color: #D8D8D8;
}

.tours__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
}

.tour__desk{
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 58px;
}

.tour__link {
    padding-right: 59px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/Shape.svg) no-repeat right center;
}

.tour__link:hover, .tour__link:focus {
    opacity: .65;    
}
/*Tours end*/ 
/* Top start*/
.top {
    margin-bottom: 86px;
}

.top__title {
    margin-bottom: 64px;
}

.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;

}

.top__card {
    display: flex;
    flex-direction: column;
    
}

.top__card__pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card__stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top__card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}

.top__card__likes {
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(../img/svg/like.svg) no-repeat right;
    margin-right: 14px;
}

.top__card__coments {
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(../img/svg/atticle.svg) no-repeat right;
}

.top__card__desk {
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;
} 

.top__card__more {
    width: 118px;
    padding: 12px 19px;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background: #1B7DFF;
    border: 0;
    text-decoration: none;
    margin: auto 0 0 0;
}

.top__card__more:hover, .top__card__more:focus, .top__card__more:active{
    background: #094a9e;
}
/* Top end*/
/* Video start*/
.videos {
    width: 100%;
}

.videos_wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video__item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Video end*/

/*footer start*/
.footer {
    background: #0E1D28;
    padding: 119px;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    flex-basis: 50%;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 50%;   
}

.footer__menu__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__menu__link {
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__menu__link:hover, .footer__menu__link:focus, .footer__menu__link:active {
    opacity: .75;

}